// Colors

// Main Colors

// Primary Colors
$clr-primary-color-soft-red: hsl(10, 79%, 65%);
$clr-primary-color-cyan: hsl(186, 34%, 60%);

// Shadows

// Gradients

// Neutrals
$clr-neutral-dark-brown: hsl(25, 47%, 15%);
$clr-neutral-medium-brown: hsl(28, 10%, 53%);
$clr-neutral-cream: hsl(27, 66%, 92%);
$clr-neutral-very-pale-orange: hsl(33, 100%, 98%);
$clr-neutral-white: #ffffff;
$clr-neutral-black: #000000;

// Specific Colors
$clr-background: hsl(27, 66%, 92%);
